<nav class="navbar navbar-expand navbar-light">
    <div class="container-fluid">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item fo">
                    <a routerLink="Best-Deals" routerLinkActive="active" class="nav-link active" href="#">
                        Today's Best Deals
                    </a>
                </li>
                <li class="nav-item fo">
                    <a routerLink="Best-Sellers" routerLinkActive="active" class="nav-link active" href="#">
                        Best Sellers
                    </a>
                </li>
                <li class="nav-item fo">
                    <a routerLink="Black-Friday" routerLinkActive="active" class="nav-link active" href="#">
                        Black Friday TV Deals Are Back
                    </a>
                </li>
                <li class="nav-item fo">
                    <a class="nav-link active" href="#">
                        Boost Your Productivity
                    </a>
                </li>
                <li class="nav-item fo">
                    <a routerLink="Build" routerLinkActive="active" class="nav-link active" href="#">
                        Build To Order
                    </a>
                </li>
                <select class="fm">
                    <option selected>Browsing History</option>
                </select>
                <select class="fn">
                    <option selected>Your Garage</option>
                </select>
            </ul>
        </div>
        <div class="container-fluid d-flex">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="newegg d-flex container-fluid">
                        NEWEGG
                    </div>
                    <div class="business d-flex container-fluid">
                        BUSINESS
                    </div>
                </li>
            </ul>
            <button class="fl">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-emoji-smile smile" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
                </svg>
                <div class="format">
                    Feedback
                </div>
            </button>
            <button class="fl">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-question-circle smile" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                </svg>
                <div class="format">
                    Help Center
                </div>
            </button>
        </div>
    </div>
</nav>