button.fn {
    border-radius: 50%;
    border-width: 1px;
    width: 32px;
    height: 32px;
    outline-style: solid;
    outline-color: darkslategray;
}
button.fm {
    border-radius: 30%;
    border-width: 1px;
    width: 56px;
    height: 32px;
    outline-style: solid;
    outline-color: darkslategray;
    background-color: whitesmoke;
}
button.fl {
    width: 44px;
    height: 44px;
    outline-style: none;
}
button.fk {
    width: 176.98px;
    height: 44px;
    outline-style: none;
}
button.fj {
    width: 53px;
    height: 44px;
    outline-style: none;
}
svg.fi {
    position: relative;
    top: -31px;
    left: -17px;
}
svg.fh {
    position: relative;
    top: -5px;
    left: 17px;
}
svg.fg {
    position: relative;
    left: -60px;
    top: 4px;
}
div.ff {
    position: relative;
    left: 30px;
    top: -40px;
    color: lightslategray;
    font-family: 'Open Sans';
    font-size: 12px/16px;
}
div.fe {
    position: relative;
    left: 30px;
    top: -55px;
    color: black;
    font-family: 'Open Sans';
    font-size: 14px/20px;
    font-weight: bold;
}
input.fd {
    border-radius: 30%;
    background-color: rgb(229, 229, 250);
    width: 500px;
}
span.fc {
    border-radius: 30%;
    background-color: rgb(25, 70, 184);
}
select.fb{
    border-radius: 30%;
    background-color: rgb(229, 229, 250);
    width: 50px;
}
svg.list{
    width: 28px;
    height: 28px;
    fill: currentColor;
}
img.newegg{
    height: 51.56px;
    width: 102px;
}
svg.search{
    width: 20px;
    height: 20px;
    fill: white;
}
svg.bell{
    width: 21px;
    height: 25px;
    fill: darkslategray;
}
svg.flag{
    width: 16px;
    height: 16px;
    fill: currentColor;
}
svg.sun{
    width: 16px;
    height: 16px;
    fill: currentColor;
}
svg.circle{
    width: 28px;
    height: 32px;
    fill: currentColor;
}
svg.person{
    width: 28px;
    height: 28px;
    fill: currentColor;
}
svg.cart{
    width: 28px;
    height: 28px;
    fill: currentColor;
}
