<div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://pbs.twimg.com/media/FKhtB8OVQAEtrbZ?format=jpg&name=small" class="d-block w-80 position-relative bottom-100 start-50 translate-middle-x" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://pbs.twimg.com/media/FKnpTxuVEAMuBAW?format=jpg&name=small" class="d-block w-80 position-relative bottom-100 start-50 translate-middle-x" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://pbs.twimg.com/media/FKvNtqTXwAELncv?format=jpg&name=small" class="d-block w-80 position-relative bottom-100 start-50 translate-middle-x" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </button>
  </div>